<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudShopee"
        tools:targetApi="31">
        <activity
            android:name=".chocolate"
            android:exported="false"
            android:label="Chocolates"
            android:parentActivityName=".Grocery"/>
        <activity
            android:name=".Biscuits"
            android:exported="false"
            android:label="Biscuits"
            android:parentActivityName=".Grocery" />
        <activity
            android:name=".Chips"
            android:exported="false"
            android:label="Chips"
            android:parentActivityName=".Grocery" />
        <activity
            android:name=".Brush"
            android:exported="false"
            android:label="Brushes"
            android:parentActivityName=".Grocery" />
        <activity
            android:name=".Pulses"
            android:exported="false"
            android:label="Pulses"
            android:parentActivityName=".Grocery" />
        <activity
            android:name=".Flour"
            android:exported="false"
            android:label="Flour"
            android:parentActivityName=".Grocery" />
        <activity
            android:name=".Novel"
            android:exported="false"
            android:label="Novels"
            android:parentActivityName=".Books" />
        <activity
            android:name=".Educational"
            android:exported="false"
            android:label="Educational Books"
            android:parentActivityName=".Books" />
        <activity
            android:name=".Clothes"
            android:exported="false"
            android:label="Clothes"
            android:parentActivityName=".Categories" />
        <activity
            android:name=".Books"
            android:exported="false"
            android:label="Books"
            android:parentActivityName=".Categories" />
        <activity
            android:name=".Grocery"
            android:exported="false"
            android:label="Grocery"
            android:parentActivityName=".Categories" />
        <activity
            android:name=".Medicines"
            android:exported="false"
            android:label="Medicines"
            android:parentActivityName=".Categories" />
        <activity
            android:name=".Electronics"
            android:exported="false"
            android:label="Electronics"
            android:parentActivityName=".Categories" />
        <activity
            android:name=".Categories"
            android:exported="false"
            android:label="Categories"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>